absl-py==0.8.1
astor==0.8.0
backports.weakref==1.0.post1
bleach==1.5.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
enum34==1.1.6
Flask==1.1.1
Flask-Cors==3.0.8
funcsigs==1.0.2
futures==3.3.0
gast==0.3.2
grpcio==1.24.3
html5lib==0.9999999
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
Markdown==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
mysql-connector-python==8.0.18
numpy==1.16.5
protobuf==3.10.0
requests==2.22.0
scipy==1.2.2
six==1.11.0
tensorboard==1.7.0
tensorflow==1.15.4
tensorrec==0.26.2
termcolor==1.1.0
urllib3==1.25.6
Werkzeug==0.16.0
